@font-face {
  font-family: "Geomanist";
  src: local("Geomanist"),
    url(./fonts/geomanist-regular-webfont.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Geomanist";

  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
